<?xml version="1.0"?>
<launch>

    <!-- Launch serial comms with Arduino -->
    <!-- <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen"> -->
        <!-- Port Arduino is connected to: ls /dev/tty* -->
        <!-- <param name="port" value="/dev/ttyUSB0"/>   -->
        <!-- Baud rate -->
        <!-- <param name="baud" value="9600"/> -->
    <!-- </node>  -->

    <!-- Start LIDAR and Hector SLAM for visual odometry -->
    <include file="$(find ranger_2dnav)/ranger_hector_slam.launch"/>

    <!-- TO DO: Start IMU -->

    <!-- TO DO: Start Kalman Filter via robot_localization -->

    <!-- Begin Cartographer SLAM -->
    <include file="$(find cartographer_ros)/launch/ranger.launch"/>

    <!-- TO DO: Start Rviz with desired config -->

    <!-- UPDATE: Start path planning framework -->
    <!-- <include file="$(find ranger_2dnav)/move_base.launch"/> -->

    <!-- UPDATE: Convert raw velocities to differential wheel inputs -->
    <!-- <node name="CmdVelToMotors" pkg="sabertooth_ctrl" type="cmd_vel_to_diff_wheels.py" output="screen"/> -->

    <!-- UPDATE: Begin sending navigation goals -->
    <!-- <include file="$(find ranger_actionlib)/launch/ranger_actionlib.launch"/> -->

</launch>
